.mySlides {
    display: none;
  }
    
  body {
    background-color: #fff;
    font-family: Verdana, sans-serif;
  }
    
  .head {
    margin-top: 20px;
    margin-right: 20vw;
    margin-left: 20vw;
    text-align: center;
    font-size: 30px;
    background-color: #6f459e;
    color: white;
    border-radius:19px;
    font-weight: bolder;
  }
    
  .data-container {
    margin-top: 4rem !important;
    width: 600px;
    height: 364px;
    position: relative;
    margin: 0 auto;
  }
    
  .bar {
    width: 28px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 183, 255);
    transition: 0.2s all ease;
  }
    
  .bar__id {
    position: absolute;
    top: -24px;
    width: 100%;
    text-align: center;
  }
  .btn1
  {
  padding: 12px;
  font-weight: bolder; 
  background-color: #6f459e; 
  border-radius: 10px; 
  color: white; 
  font-size: 16px; 
  border: white; 
  margin-top: 1vw;
  margin-right: 1vw;
  }
  
  #ele{
    text-align: center;
    height: 35px;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background: #58a0f5;
  }
  nav span {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    align-items: center;
    width: 100%;
    height: 50px;
    font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      line-height: 21px;
      color: #fff;
  }

  .new__array{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 5rem;
    margin: 2rem;
    align-items: center;
  }

  .sort__btn{
    display: flex;
    width: 100%;
    justify-content: center;
    /* border: 2px solid red; */
   
  }
  .btn2
  {

    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    /* width: 50%; */
    /* height: 3rem; */
margin: 20px;

  /* padding: 12px; 
  font-weight: bolder; 
  background-color: #6f459e; 
  border-radius: 10px; 
  color: white; 
  font-size: 16px; 
  border: white */
  }
  
/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
.insBtn{
  display: flex;
}